@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: Google Sans, sans-serif;
    background-color: rgb(58, 153, 255);
}

main {
max-width: 38rem;
margin: 2.5rem auto;
padding: 1.25rem;
background-color: rgb(80, 173, 254);
border: 3px solid #eee719;
}

#cidade {
width: 100%;
padding: 1.5%;
font-size: 1rem;
}

.cidade {
    width: 100%;
    padding: 0.400rem;
    cursor: pointer;
    background-color:rgb(133, 187, 234);
    border: 1px solid rgb (210,218,224);
}

.cidade:hover {
    background-color: #fde404;
    
}
s
#previsao {
    margin-top: 1.5rem;
}

.dia {
    padding: 0.625rem;
    border: 3px solid rgb(255, 238, 7);
}